# --- 实验元数据 ---
project: "FL-Test"
name: "cifar10_badnets_debug"
seed: 2025
device: "cuda:6"
use_wandb: true

# --- 数据配置 ---
data:
  dataset: "cifar10"
  root: "./data_source"
  num_clients: 10          # 客户端总数
  val_ratio: 0.1
  partitioner:
    name: "dirichlet"
    alpha: 0.9

# --- 模型配置 ---
model:
  name: "resnet18"
  params:
    num_classes: 10

# --- 算法配置 ---
algorithm:
  name: "fedavg"

# ---攻击者配置 (包含策略与专属评估) ---
attack:
  fraction: 0.2 # 宏观定义：总共有 20% 的客户端是攻击者
  strategies: # 微观定义：在这些坏人中，他们的策略分布
    # 组1: BadNets 攻击组
    badnets_group:
      fraction: 1.0 # 占所有攻击者的 100%
      
      strategy:
        name: "badnets"
        params:
          target_label: 0
          poison_ratio: 0.5
          patch_size: 3
          location: 'bottom_right'
  
      evaluation:
        - name: "asr"
          params:
            target_label: 0 # 必须与攻击目标一致

# --- 服务器组件配置 ---
server:
  aggregator:
    name: "avg"   # 请确认 AvgAggregator 注册名为 'avg'
  screener:
    name: null
  updater:
    name: "standard"

# --- 训练流程配置 ---
training:
  rounds: 100
  clients_fraction: 0.4   # 每轮参与者比例
  attackers_frac: 0.25      # 选中者里坏人比例
  
  eval_interval: 10
  scheduler: "cosine"
  lr: 0.1
  min_lr: 0.003
  warmup_rounds: 5

# --- 客户端本地训练配置 ---
client:
  epochs: 2
  batch_size: 32
  momentum: 0.9
  weight_decay: 0.0005

# --- 全局评估指标 (只保留通用的) ---
evaluation:
  global:
    - name: "acc"
    - name: "loss"
  
  local:
    - name: "acc"