# --- 实验元数据 ---
project: "FL-Test"
name: "cifar10_avg_test1_4speed"
seed: 2025
device: "cuda:6"
use_wandb: true

# --- 数据配置 ---
data:
  dataset: "cifar10"
  root: "./data_source"
  num_clients: 10
  val_ratio: 0.1
  partitioner:
    name: "dirichlet"
    alpha: 1.0

# --- 模型配置 ---
model:
  name: "resnet18"
  params:
    num_classes: 10

# --- 算法配置 ---
algorithm:
  name: "fedavg"
# --- 服务器组件配置 ---
server:
  aggregator:
    name: "avg"
  screener:
    name: null
  updater:
    name: "standard"

# --- 训练流程配置 ---
training:
  rounds: 100
  # 【修改点】将 clients_per_round 改为 clients_fraction
  # 50 个客户端 * 0.2 = 每轮选 10 个
  clients_fraction: 0.2
  eval_interval: 10
  
  scheduler: "cosine"
  lr: 0.01
  min_lr: 0.001
  warmup_rounds: 5

# --- 客户端本地训练配置 ---
client:
  epochs: 1
  batch_size: 32
  momentum: 0.9
  weight_decay: 0.0005

# --- 评估指标配置 ---
evaluation:
  global:
    - name: "acc"
    - name: "loss"
  local:
    - name: "acc"